<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078465612496-88imos9tedq5lrq9ng0o0hhahgdm9t7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078465612496-88imos9tedq5lrq9ng0o0hhahgdm9t7p</string>
	<key>API_KEY</key>
	<string>AIzaSyDqqxk0GY4rmY5RbNN105g2T_kPGe3QRng</string>
	<key>GCM_SENDER_ID</key>
	<string>1078465612496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hgu.herehear</string>
	<key>PROJECT_ID</key>
	<string>herenhear-e67af</string>
	<key>STORAGE_BUCKET</key>
	<string>herenhear-e67af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078465612496:ios:0a7adda12e096b11cdecd5</string>
</dict>
</plist>